

{% load static %}

{% block title %}Platillos - {% endblock title %}

{% block head %} 
<meta name="description" content="Un elemento del menu">
{% endblock head %}


{% block body_content %}
    <div class="card card-body bg-info">
			<table class="table table-dark">
				<tr>
					<th>Nombre</th>
					<th>Precio</th>
					<th>Descripción</th>
					<th>Categoria</th>
				</tr>

				{% for el in platos %}

				<tr>
					<td>{{el.name}}</td>
					<td>{{el.price}}</td>
					<td>{{el.description}}</td>
					<td>{{el.category}}</td>
					<td><a class="btn btn-sm btn-info" href="{% url 'menu:update-element' el.id %}">Update</a></td>
					<td><a class="btn btn-sm btn-danger" href="{% url 'menu:delete-element' el.id %}">Delete</a></td>
				</tr>
				{% endfor %}

			</table>
		</div>

    
{% endblock body_content %}