{% extends 'restaurante/base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block head %} 
<meta name="description" content= {{ title }}>
{% endblock head %}

{% block body_content %}

<h1>{{ title }}</h1>
<form action="." method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
    <div class="create_artist_input">
        {{ field.errors }}
        {{ field.label_tag }}
        {{ field }}
    </div>
    {% endfor %}
    <input value="Create" type="submit">
</form>
<a  class="hello-msg" href="{% url 'users:homeAdmin' %}">Regresar al Menu</a></span>
{% endblock body_content %}