{% extends 'restaurante/base.html' %}
{% load static %}

{% block body_content %}
        <!-- Masthead-->
        <section class="page-section bg-dark text-white">
           <div class="container">

                <h2 class="text-center mt-0">Tu Información</h2>
                <hr class="divider my-4" />
                <div class="row">
                
                    <div class="col-lg-4 col-md-6 text-center">
                        <div class="mt-5">
                            <i class="fas fa-4x fa-smile text-primary mb-4"></i>
                            <h3 class="h4 mb-2 text-primary">Nombre de Usuario:</h3>
                            <p class=" mb-0 h3">{{ user }}</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 text-center">
                        <div class="mt-5">
                            <i class="fas fa-4x fa-envelope text-primary mb-4"></i>
                            <h3 class="h4 mb-2 text-primary">Email</h3>
                            <p class="mb-5 h3">{{user.email}}</p>
                        </div>

                    </div>
                     <div class="col-lg-4 col-md-6 text-center">
                        <div class="mt-5">
                            <i class="fas fa-4x fa-home text-primary mb-4"></i>
                            <h3 class="h4 mb-2 text-primary">Tus direcciones</h3>
                            <a class="btn btn-light btn-sm" href="{% url 'users:address_list' %}">Ver tus direcciones</a>
                        </div>
                    </div>
                        <div class="col-lg-12 col-md-6 text-center">
                            
                            <a class="btn btn-light btn-xl" href="{% url 'users:user_edit' %}">Modifica tus datos</a>
                        </div>
                    </div>
                </div>

            </div>
        </section>
{% endblock body_content %}

