<!-- Base -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} | Fast And Hungry</title>
    {% load static %}
    {% block head %}
    {% endblock head %}

    <link rel="stylesheet" type="text/css" href={% static 'restaurante/css/base.css' %}>
    <link rel="stylesheet" type="text/css" href={% static 'restaurante/css/nav_bar.css' %}>

    {% block css %}
    {% endblock css %}
    
</head>

<body>
    <div class="header">
        <h1>FastAndHungry Header</h1>
    </div>


    {% include 'restaurante/nav_bar.html' %}

    {% block body_content %}
    {% endblock body_content %}

</body>
</html>