{% extends 'restaurante/base.html' %}
{% load static %}

{% block body_content %}
<!-- Masthead-->
<section class="page-section bg-dark text-white">
	
	<div class="row">
	<div class="col-md">
		
		<div class="card card-body bg-info">
			<table class="table table-dark">
				<tr>
					<th>Platillo</th>
					<th>Precio</th>
                    <th>Catidad</th>
                    <th>Subtotal</th>
				</tr>

				{% for element in object_list %}

				<tr>
					<td>{{element.element.name}}</td>
					<td>$ {{element.element.price}}</td>
					<td>{{element.quantity}}</td>
					<td>$ {{element.get_subtotal}}</td>
					<td><a class="btn btn-sm btn-danger" href="{% url 'restaurante:element_cart_delete' element.id %}">Delete</a></td>
				</tr>
				{% endfor %}

			</table>
		</div>

		<div>
			<hr class="long-divider my-4">
			<h4 class="text-center mt-0">Total: ${{ cart_total }}</h2>
		</div>
		
		<div class="col-lg-7 col-lg-12 col-md-6 mt-5 text-center">                 
			<a class="btn btn-warning btn-xl" href="{% url 'restaurante:menu'%}">Regresar</a>
			{% if flag_cart %}
			<a class="btn btn-success btn-xl" href="{% url 'restaurante:make_an_order' cart_id %}">Hacer pedido</a>
			{% endif %}
		 </div>
	</div>
</section>
{% endblock body_content %}