{% extends 'restaurante/base.html' %}
{% load static %}

{% block body_content %}
<!-- Masthead-->
<section class="page-section bg-dark text-white">
    <div class="row">
	<div class="col-md">
		<div class="card card-body bg-info">
			<div class="d-flex justify-content-center form_container">
				<form enctype="multipart/form-data" action="." method="POST">
   					{% csrf_token %}

    				{% for field in form %}
    				<div class="addDireccion">
       				{{ field.errors }}
        			{{ field.label_tag }}
        			{{ field }}
   					</div>
 					{% endfor %}
					   
					<div class="d-flex justify-content-center mt-3 login_container">
				 		<input class="btn btn-success btn-xl" type="submit" value="Agregar">
				   	</div>

				</form>
			</div>

			{{form.errors}}
	</div>
	<div class="col-lg-7 col-lg-12 col-md-6 mt-5 text-center">                 
        <a class="btn btn-warning btn-xl" href="{% url 'restaurante:categorys_admin'%}">Regresar</a>
    </div>
	</div>
	</div>
</section>
        
 {% endblock body_content %}
      