{% extends 'restaurante/base.html' %}
{% load static %}

{% block body_content %}
        <!-- Masthead-->
        <section class="page-section bg-dark text-white">
           <div class="container">

                <h2 class="text-center mt-0">Nuestro Menú</h2>
                
                <hr class="divider my-4" />
                <div class="row">
                
                     <div class="col-lg-12 col-md-9 text-center mt5">
                        {% for el in object_list %}
                        <div class="col-lg-12 col-md-6 mt-5 text-center m">
        				<li>{{el.name}}......{{el.description}}......${{el.price}}.00</li>
        				
        				
       					 {% if el.image %}
   						 <img src= "{{el.image.url}}" width="300" height="250" >
							{% endif %}
       						 {% endfor %}
       				    </div>

                    </div>

                </div>
            </div>
        </section>
{% endblock body_content %}



