{% extends 'restaurante/base.html' %}
{% load static %}

{% block body_content %}
<!-- Masthead-->
<section class="page-section bg-dark text-white">
	<div class="container-nm container">
		
		<h2 class="text-center mt-0">{{ title }}</h2>
        <hr class="divider my-4" />
		
		<div class="row">
	
			{% include 'restaurante/left_bar_order_state.html' %}	

			<div class="card-body bg-dark-obs col-lg-9">
			<table class="table table-dark">
				<tr>
					<th>Estado</th>
					<th>Cliente</th>
                    <th>Aprobada por</th>
                    <th>Entregada por</th>
				</tr>

				{% for order in object_list %}

				<tr>
					<td>{{order.get_state_display}}</td>
					<td>{{order.customer.username}}</td>
					<td>{{order.admin.username}}</td>
					<td> {{order.delivery_man.username}}</td>

					{% if order.state == 'PD' %}
						<td><a class="btn btn-sm btn-info" {% if user.is_admin %} href="{% url 'restaurante:mark_order_ready' order.id %}" {% endif %}>Lista</a></td>
					{% elif order.state == 'LT' %}
						<td><a class="btn btn-sm btn-info" {% if user.is_delivery_man %} href="{% url 'restaurante:mark_order_on_way' order.id %}"{% endif %}>Llevar</a></td>
					{% elif order.state == 'EC' %}
						<td><a class="btn btn-sm btn-info" {% if user.is_delivery_man %} href="{% url 'restaurante:mark_order_delivered' order.id %}"{% endif %}>Entregada</a></td>
					{% else %}
						<td><a class="btn btn-sm btn-info">Sin acción</a></td>
					{% endif %}
						<td><a  class="btn btn-sm btn-info" href = "{% url 'restaurante:order' order.id %}">Ver</a> </td>

				</tr>
				{% endfor %}

			</table>
			</div>

		</div>
	</div>
</section>
{% endblock body_content %}