{% extends 'restaurante/base.html' %}
{% load static %}

{% block body_content %}
<!-- Masthead-->
<section class="page-section bg-dark text-white">
    {% include 'restaurante/left_bar_order_state.html' %}	
    <div class="row">
	<div class="col-md">

		<div class="card card-body bg-info">
			<table class="table table-dark">
				<tr>
					<th>Estado</th>
					<th>Cliente</th>
                    <th>Aprobada por</th>
                    <th>Entregada por</th>
				</tr>

				{% for order in object_list %}

				<tr>
					<td>{{order.state}}</td>
					<td>$ {{order.customer.name}}</td>
					<td>{{order.admin.name}}</td>
					<td> {{order.delivery_man.name}}</td>
                    <td><a class="btn btn-sm btn-danger" href="{% url 'restaurante:element_cart_delete' element.id %}">Delete</a></td>
                    <td><a class="btn btn-sm btn-danger" href="{% url 'restaurante:element_cart_delete' element.id %}">Delete</a></td>
                    <td><a class="btn btn-sm btn-danger" href="{% url 'restaurante:element_cart_delete' element.id %}">Delete</a></td>
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</section>
{% endblock body_content %}